<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="redis" type="ServiceStack.Redis.Utils.RedisConfigurationSection, ServiceStack.Redis.Utils"/>
  </configSections>

  <!-- Redis Connection Info -->
  <redis maxWritePoolSize="5" maxReadPoolSize="5" autoStart="True" readWriteHosts="123456@192.168.0.60:6379" readOnlyHosts="123456@192.168.0.60:6380, 123456@192.168.0.60:6381">
  </redis>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>