<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redis" type="ServiceStack.Redis.Utils.RedisConfigurationSection, ServiceStack.Redis.Utils"/>
  </configSections>

  <!-- Redis Connection Info -->
  <redis readWriteHosts="192.168.0.201:6379" readOnlyHosts="1234561@192.168.0.202:6379, 1234561@192.168.0.203:6379"
         maxWritePoolSize="50" maxReadPoolSize="500" autoStart="True" enableLog="True"
         connectTimeout="3000" retryTimeout="10000"
         keepAliveInterval="3000" isKeepAlive="True"
         isSentinel="False" sentinelHosts="" sentinelNodePwd="">
  </redis>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
