<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redis" type="ServiceStack.Redis.Utils.RedisConfigurationSection, ServiceStack.Redis.Utils"/>
  </configSections>

  <!-- Redis Connection Info -->
  <redis maxWritePoolSize="5" maxReadPoolSize="5" autoStart="True" enableLog="False"
         connectTimeout="3000" retryTimeout="3000"
         keepAliveInterval="10000" isKeepAlive="True"
         isSentinel="False" sentinelHosts="" sentinelNodePwd=""
         readWriteHosts="192.168.0.154:6379" readOnlyHosts="192.168.0.154:6379">
  </redis>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
